html
html
   head
      title Form Tester
   body
      form(action = "/reform", method = "POST" ,enctype="multipart/form-data")
         div
            label(for = "recfile") recfile:
            input(name = "recfile",type="text")
         br
        
         button(type = "submit") Send my greetings